CLICKUP_API_TOKEN=
CLICKUP_LIST_ID=
CLICKUP_VIEW_ID=
SLACK_WEBHOOK_URL=
AP_TRANSACTIONS_URL=
AP_TRANSACTIONS_AUTH_TOKEN=
AP_LOOKBACK_DAYS=7
AP_APPLY_CLICKUP_UPDATES=false
AP_POST_SLACK=false
AP_DATA_DIR=data
AP_UPLOAD_TOKEN=
AP_ADMIN_USERNAME=
AP_ADMIN_PASSWORD=
AP_SESSION_SECRET=
ANATA_ALLOW_UNAUTHENTICATED_LOCAL=false
ANATA_ADMIN_READONLY_TOKEN=
AP_UPLOAD_STORAGE_DIR=
AP_UPLOAD_MAX_BYTES=10485760
QBO_CLIENT_ID=
QBO_CLIENT_SECRET=
QBO_REALM_ID=
QBO_REFRESH_TOKEN=
QBO_TOKEN_STORE_PATH=
HUBSPOT_PRIVATE_APP_TOKEN=
HUBSPOT_ACCESS_TOKEN=
HUBSPOT_PORTAL_ID=
HUBSPOT_DEFAULT_DEAL_PIPELINE=
HUBSPOT_DEFAULT_DEAL_STAGE=
HUBSPOT_DEFAULT_OWNER_ID=
HUBSPOT_DEFAULT_SERVICE_LINE=fulfillment
HUBSPOT_DEFAULT_LEAD_SOURCE_DETAIL=
HUBSPOT_DEAL_EXTRA_PROPERTIES=
HUBSPOT_API_BASE_URL=https://api.hubapi.com
ANATA_AGENT_HIGH_CONFIDENCE_THRESHOLD=0.85
ANATA_AGENT_MEDIUM_CONFIDENCE_THRESHOLD=0.65
ANATA_AGENT_DUPLICATE_SEND_WINDOW_MINUTES=240
ANATA_AGENT_OUTBOUND_EMAIL_ENABLED=false
ANATA_AGENT_LINKED_DEAL_CREATION_ENABLED=true
SUPPORT_TIMEZONE=America/Denver
SUPPORT_WORKSPACE_ROOT=
SUPPORT_AGENT_ROOT=
SUPPORT_AGENT_REPORTS_DIR=
SLACK_API_BASE_URL=https://slack.com/api
SLACK_BOT_TOKEN=
SUPPORT_SLACK_CHANNELS=
SUPPORT_GMAIL_EXPORT_PATH=
SUPPORT_GMAIL_LABELS=
SHOPIFY_STORE_DOMAIN=
SHOPIFY_ADMIN_API_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-01
LABELOGICS_APP_URL=https://app.labelogics.com
LABELOGICS_SANDBOX_URL=https://sandbox.labelogics.com
LABELOGICS_API_DOCS_URL=https://app.labelogics.com/apidocs
LABELOGICS_KEY=
LABELOGICS_PASSWORD=
SUPPORT_ESCALATION_DEFAULT_OWNER=
SUPPORT_ESCALATION_SLACK_USER_IDS=
