CLICKUP_API_TOKEN=
CLICKUP_LIST_ID=
CLICKUP_VIEW_ID=
SLACK_WEBHOOK_URL=
AP_TRANSACTIONS_PATH=
AP_TRANSACTIONS_URL=
AP_LOOKBACK_DAYS=7
AP_APPLY_CLICKUP_UPDATES=true
AP_POST_SLACK=true
AP_DATA_DIR=data

