CLICKUP_API_TOKEN=
CLICKUP_LIST_ID=
CLICKUP_VIEW_ID=
SLACK_WEBHOOK_URL=
AP_TRANSACTIONS_URL=
AP_TRANSACTIONS_AUTH_TOKEN=
AP_LOOKBACK_DAYS=7
AP_APPLY_CLICKUP_UPDATES=false
AP_POST_SLACK=false
AP_DATA_DIR=data
AP_UPLOAD_TOKEN=
AP_ADMIN_USERNAME=
AP_ADMIN_PASSWORD=
AP_SESSION_SECRET=
AP_UPLOAD_STORAGE_DIR=
AP_UPLOAD_MAX_BYTES=10485760
QBO_CLIENT_ID=
QBO_CLIENT_SECRET=
QBO_REALM_ID=
QBO_REFRESH_TOKEN=
QBO_TOKEN_STORE_PATH=
